.logo {
    width: 150px; /* Increased width */
    height: 150px; /* Increased height */
    background-size: cover; /* Ensure the image covers the entire area */
    background-position: center; /* Center the image within the element */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    border-radius: 50%; /* Make the logo circular */
    float: left; /* Keep the logo in the left corner */
    margin-right: 20px; /* Optional: Add margin to the right for spacing */
    margin-top: 50px; /* Optional margin top */
  }
  